*{
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: #cbedfa;
	font-family: Arial,sans-serif,helvetica;
}
form{
	width: 40%;
	height: 100%;
	min-width: 250px;
	max-width: 350px;
	margin: 15% auto;
	padding: 10px;
}

input,.title{
	padding: 10px 15px;
	margin-bottom: 5px;
	border: none;
	color:#9cc1f0 !important;
	border-radius: 5px;
	width: 100%;
}
input{
	background-color: rgba(255,255,255,0.6);
}

.title{
	margin: 0px;
	font-size: 150%;
	text-align: center;
}
